* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
 header {
    display: grid;
    padding-left: 16vw;
    align-items: center;
    background-color: rgb(11,90,76);
    height:67px

 }
 
 ul {
    list-style: none;
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    grid-row: 2 span 3;
    align-items: center;
 }

 .menu_bar {
   
    display: grid;
    justify-content: space-between;
 }

 ul.menu>li{
   padding-right: 3vw;
    color: white
 }

 .logo_image{
    
   height: 3vh;
 }


